.ContactList {
  padding: 0;
}
.ContactList-appear {
  transform: translateX(0%);
}
.ContactList-appear-active {
  transform: translateX(0%);
  transition: transform 250ms linear;
}
.contactListItem-enter {
  transform: translateX(-100%);
}
.contactListItem-enter-active {
  transform: translateX(0%);
  transition: transform 250ms linear;
}
.contactListItem-exit {
  transform: translateX(0%);
}
.contactListItem-exit-active {
  transform: translateX(-100%);
  transition: transform 250ms linear;
}
